@page
@model AdWorksCore3.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Index</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a asp-page="/Razor/Customers/Index">Razor Customers</a>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Default log level: @Model.DefaultLogLevel</p>
</div>
